{% extends 'manager/layout.html' %}
{% load static %}
{% block title %} All Suppliers | SkyLove CMS {% endblock title %}
<!--  MAIN BODY START HERE -->
{% block content %}
  <div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="row">
        <div class="col-lg-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <!---  Table contain customer list --->
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>
                      Photo
                    </th>
                    <th>
                      Nhà cung cấp
                    </th>
                    <th>
                      Số điện thoại
                    </th>
                    <th>
                      Địa chỉ
                    </th>
                    <th>
                      Mã số thuế
                    </th>
                    <th>
                      Thao tác
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for supplier in suppliers %}
                    <tr>
                      <td class="font-weight-medium">
                        <a href="{% url 'inventory:supplier_view' pk=supplier.pk %}">
                          {% if supplier.thumb.url != null %}
                            <img src="{{ supplier.thumb.url }}" class='rounded img-fluid' alt="">
                          {% else %}
                            <img src="{% static 'images/No_Image.png' %}" class='rounded img-fluid' alt="">
                          {% endif %}
                        </a>
                      </td>
                      <td>
                        {{ supplier.name }}
                      </td>
                      <td>
                        {{ supplier.mobile }}
                      </td>
                      <td>
                        {{ supplier.address }}
                      </td>
                      <td>
                        {{ supplier.taxcode }}
                      </td>
                      <td>
                        <div class="btn-group dropdown">
                          <button type="button" class="btn btn-success dropdown-toggle btn-sm"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog "></i> Thao tác
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'inventory:supplier_view' pk=supplier.pk %}">
                              <i class="fa fa-eye text-success fa-fw"></i>Chi tiết</a>
                            <a class="dropdown-item" href="{% url 'inventory:supplier_update' pk=supplier.pk %}">
                              <i class="fa fa-edit text-info fa-fw"></i>Cập nhật</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="">
                              <i class="fa fa-trash text-danger fa-fw"></i>Xóa Nhà cung cấp</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

                {% if is_paginated %}
                  <nav aria-label="Page navigation example" class='mt-4'>
                    <ul class="pagination">
                      {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                      {% else %}

                        <li class="page-item disabled"><span class='page-link '>Previous</span></li>
                      {% endif %}
                      <li class="disabled"><span
                          class='page-link'> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>
                      </li>
                      {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.next_page_number }}">Next</a></li>
                      {% else %}
                        <li class="page-item disabled"><span class='page-link '>Next</span></li>
                      {% endif %}
                    </ul>
                  </nav>
                {% endif %}

              </div>
              <h4 class="card-title">
                <br>
                <a href="javascript:history.back()"
                   class="btn btn-lg btn-primary float-right">
                  &emsp;Trở lại&emsp;<i class="mdi mdi-exit-to-app"></i>
                </a>
                <div class="text-primary float-right">&emsp;&emsp;</div>
                <a href="{% url 'inventory:supplier_new' %}"
                   class="btn btn-lg btn-primary float-right">
                  <i class="fa fa-plus"></i><i class="fa fa-user-circle"></i>&emsp;Thêm Nhà Cung cấp
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block noty %}
    <script>
      {% if messages %}
        {% for message in messages  %}
          toastr.success('{{message}}')
        {% endfor %}
      {% endif %}
    </script>
  {% endblock noty %}
{% endblock content %}
</div>