{% extends 'manager/layout.html' %}
{% load static %}

{% block title %} Edit Payment Process | SkyLove CMS {% endblock title %}

{% block content %}

  <div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6 grid-margin stretch-card">
        <div class="col-lg-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <div class="col-lg-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-center text-primary"><i class="fa fa-edit">&emsp;Cập nhật THANH TOÁN</i></h4>
                    <hr>
                    <form enctype="multipart/form-data" class="form-group" method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <div class="row">
                      </div>
                      <div class="text-center mt-3">
                        <button class="btn btn-outline-success">
                          <i class="mdi mdi-check"></i>
                          Xác nhận
                        </button>
                        <!---<a href="% url 'action:treatment_view' pk=treatment.pk %}"--->
                        <a href="javascript:history.back();"
                           class="btn btn-outline-danger">
                          <i class="mdi mdi-cancel"></i>Hủy bỏ
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-columns">
          <div class="card-body">
            <div class="d-table-row">
              {% if inv.customer.thumb.url != null %}
                <a id="image_source_view" href="{{ inv.customer.thumb.url }}">
                  <img id="image_view" src="{{ inv.customer.thumb.url }}" alt="" style="object-fit: contain">
                </a>
              {% else %}
                <img id="image_view" src="{% static 'images/No_Image.png' %}" alt="" style="object-fit: contain">
              {% endif %}
            </div>
            <div class="d-table-row">
              <br class="lead mt-2 text-center">
              {{ inv.customer.humanID | capfirst }}<br>
              <small class='text-center text-secondary'>( Photo-ID )</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}
</div>