{% extends 'manager/layout.html' %}
{% load static %}
{% block title %} Treatment Images Preview | SkyLove CMS {% endblock title %}
<!--  MAIN BODY START HERE -->
{% block content %}
    <div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="row">
                <div class="col-lg-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data">
                                {{ form.as_p }}
                                {% csrf_token %}
                                <h4 class="card-title text-primary">
                                    Preview <i>&emsp;&emsp;&emsp;</i>
                                    <button type="submit">
                                        Lưu vào hồ sơ
                                    </button>
                                    <i>&emsp;&emsp;&emsp;</i>
                                    <a href="{% url 'action:treatment_pro_del_tmp_img' pk=treat_pro %}">
                                        <button type="button">
                                            Hủy bỏ
                                        </button>
                                    </a>
                                </h4>
                                {% for image in images %}
                                    <!---img src="{ image.image.url }}" alt="{ image.image.name }}"--->
                                    <img
                                         id="{{ image.image.url }}"
                                         src="{{ image.image.url }}"
                                         alt="" width="200">
                                    <i>&emsp;&emsp;&emsp;</i>

                                {% endfor %}
                            </form>
                            <br>
                            <!---  Table contain customer list --->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</div>
