{% extends 'manager/layout.html' %}
{% load static %}
{% block title %} Treatment Images | SkyLove CMS {% endblock title %}
<!--  MAIN BODY START HERE -->
{% block content %}
    <script type="text/javascript">
        //document.getElementById("fileInput").addEventListener('input', async (event) => {
        //event.preventDefault();
        function on_off_btnUpload() {
            const file = document.getElementById('fileInput');
            if (file.files.length > 0) {
                document.getElementById('btnUpload').removeAttribute("disabled");
                //document.getElementById('btnUpload').innerText = "Upload";
            } else {
                document.getElementById('btnUpload').setAttribute("disabled", null);
                //document.getElementById('btnUpload').innerText = null;
            }
        }

    </script>

    <div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="row">
                <div class="col-lg-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data" onload="on_off_btnUpload()">
                                {{ form.as_p }}
                                {% csrf_token %}
                                <h2 class="card-title text-primary">
                                    Ảnh liệu trình
                                </h2>
                                <input id="fileInput" type="file" name="images" multiple
                                       onchange="on_off_btnUpload()"
                                >
                                <button id="btnUpload" type="submit" disabled>
                                    Upload
                                </button>
                                <i>&emsp;&emsp;&emsp;</i>
                                <a href="{% url 'action:treatment_pro_update' pk=treat_pro %}">
                                    <button type="button">
                                        Hủy bỏ
                                    </button>
                                </a>

                            </form>
                            <br>
                            <!---  Table contain customer list --->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</div>
